* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-board {
  width: 100%;
  height: 100vh;
  /* Alterado para 100% da altura da viewport */
  border: 30px solid #333;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background-image: url("./../img/body.jpg");
  background-size: 100% 100%;
  /* Alterado para cobrir 100% da largura e altura */
  background-repeat: no-repeat;
}

.pipe {
  position: absolute;
  bottom: 0;
  width: 80px;
  animation: pipe-animation 2s infinite linear;
}

.nuvem {
  position: absolute;
  width: 550px;
  animation: nuvem-animation 15s infinite linear;
}

.corner-box {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 100px;
  position: absolute;
  font-family: "DotGothic16", sans-serif;
  font-style: normal;
  color: #0ef904;
  top: 50px;
  left: 30px;
}

.score {
  padding-left: 10px;
  margin-top: 5px;
}

.startButton {
  animation: jumpAnimation 1.5s infinite;
}

.corner-botton {
  flex-direction: row;
  position: absolute;
  text-align: right;
  font-family: "DotGothic16", sans-serif;
  font-size: 15px;
  font-style: normal;
  color: #ffee09;
  bottom: 320px;
  right: 20px;
  width: 700px;
  /* ajuste conforme necessário */
  height: 50px;
  /* ajuste conforme necessário */
}

@keyframes jumpAnimation {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

.mario {
  width: 90px;
  position: absolute;
  bottom: -3px;
}

.borda {
  text-shadow: white 2px -2px, white -2px 2px, white 2px 2px, white -2px -2px
}

.borda-black {
  text-shadow: #333 1px -1px, #333 -1px 1px, #333 1px 1px, #333 -1px -1px
}


.jump {
  animation: jump 500ms ease-out;
}

.centro {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "DotGothic16", sans-serif;
  color: chocolate;
  font-size: 35px;
  font-weight: bold;
  padding: 20px;
  border-radius: 10px;
}

@keyframes subir {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-30px);
  }
}

@keyframes animacaoObjeto {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  50% {
    transform: translateY(-180px);
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    transform: translateY(180px);
    opacity: 0;
  }
}

.paused {
  animation-play-state: paused;
}

@keyframes pipe-animation {
  from {
    right: -80px;
  }

  to {
    right: 100%;
  }
}

@keyframes jump {
  0% {
    bottom: 0;
  }

  40% {
    bottom: 180px;
  }

  50% {
    bottom: 180px;
  }

  60% {
    bottom: 180px;
  }

  100% {
    bottom: 0;
  }
}

@keyframes nuvem-animation {
  from {
    right: -550px;
  }

  to {
    right: 100%;
  }
}